dash-bootstrap-components==1.0.3
dash-extensions==0.1.1
Flask_Caching==1.10.1
gunicorn
millify
orjson
pycountry==22.1.10
pytest
pandas<3.0
subgrounds<1.7
werkzeug<2.1.0
circlify==0.14.0
matplotlib==3.5.2
kaleido==0.2.1
dash==2.14.2

