:root {
  --gray: #2a2a2a;
  --dark-gray: #202020;
  --white: #ffffff;
  --green: #00CC33;
  --blue: #536C9C;
  --font-fam: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

body {
    background: var(--gray);
    font-family: var(--font-fam);
}

h1 {
  color: var(--white);
}

h2 {
  color: var(--white);
}

h3 {
  color: var(--white);
}

h4 {
  color: var(--white);
}

a {
  color: var(--green);
}

.card {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
}

.card-title{
  font-size: 18px;
}

.card-text{
  font-size: 32px;
  text-align: center;
  justify-content: center;
}


.page-title {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}

.card-graph {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  height: 400px;
}

.column-header-name {
    font-family: var(--font-fam);
    font-weight: bold;
}

/* input box */
.Select-control {
  background-color: black;
  color: white;
}


/* changes the text color of input box */
.Select-value-label {
  color: white !important;
  background-color: black !important;
  font-size: 8px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  border: 1px solid grey;
  border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
  background-color: black;
  color: white;
  font-size: 8px;
}


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
  background-color: black;
  opacity: .7;
}


/* border on focus - default is blue
* shadow box around input box.  default is blue
*/
.is-focused:not(.is-open) > .Select-control {
border-color: var(--primary);
box-shadow: none;
}


/* this colors the input box text and x  of multi dropdown*/
.Select--multi .Select-value {
color: white;
}

.nav-pills a{
  display: inline-block;
  box-sizing: border-box;
  color: #9c9c9c;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  /* font-size: 32px; */
  border-radius: 0.8rem;
}

/* Change the color of links on mouse-over */
.nav-pills a:hover {
  background-color: #262626;
  color: #ddd;
}

/* Add a color to the active/current link */
.nav-pills .nav-link.active {
  background-color: var(--gray);
  color: var(--green);
}

#sidebar {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--dark-gray);
  font-size: 20;
  /* width: 16rem; */
  color: white;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

#logo_title {
  display: block;
}
#sidebar_header {
  display: none;
}

#collapse *:first-child {
  margin-top: 1rem;
}

#page-content {
  padding: 2rem 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(192, 192, 192, 0.3)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    background-color: var(--dark-gray);
    text-align: left;
  }

  #logo_title {
    display: block;
  }

  #toggle {
    display: none;
  }

  #sidebar_header {
    display: block;
  }
  #collapse {
    display: block;
  }

  #collapse *:first-child {
    margin-top: 0;
  }

  #page-content {
    margin-left: 18rem;
    margin-right: 2rem;
  }
  /* dropdown menu options */
  .VirtualizedSelectOption {
  background-color: black;
  color: white;
  font-size: 12px;
  }
  .Select-value-label {
    color: white !important;
    background-color: black !important;
    font-size: 12px;
  }
}
