:root {
  --gray: #2a2a2a;
  --dark-gray: #202020;
  --white: #ffffff;
  --green: #00CC33;
  --blue: #536C9C;
  --font-fam: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  --font-fam-Poppins: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

body {
    background: var(--gray);
    font-family: var(--font-fam);
    scrollbar-color: var(--dark-gray);
    scrollbar-width: 0.6rem;
}

h1 {
  color: var(--white);
}

h2 {
  color: var(--white);
}

h3 {
  color: var(--white);
}

h4 {
  color: var(--white);
  /* margin-top: 0.5rem; */
}

hr {
  background-color: var(--gray);
  width: 100%;
  height: 0.15rem;
  opacity: 100;
  margin: 0rem;
}

hr:not([size]) {
  height: 0.15rem;
}

a {
  color: var(--green);
  text-decoration: none;
}

.card-body{
  padding-bottom: 0px;
}

.card-header {
  border-bottom: 0px;
}

.card {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  border: 0px;
}

.card-pool-summary {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  height: 200px;
}

.card-title{
  font-size: 16px;
}

.card-text{
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.card-text.card-body{
  padding-right: 0px;
  padding-left: 0px;
}

.page-title {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}

.card-graph {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  height: 450px;
}

.column-header-name {
    font-family: var(--font-fam);
    font-weight: bold;
}

/* input box */
.Select-control {
  background-color: black;
  color: white;
}


/* changes the text color of input box */
.Select-value-label {
  color: white !important;
  background-color: black !important;
  font-size: 8px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  border: 1px solid grey;
  border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
  background-color: black;
  color: white;
  font-size: 8px;
}


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
  background-color: black;
  opacity: .7;
}


/* border on focus - default is blue
* shadow box around input box.  default is blue
*/
.is-focused:not(.is-open) > .Select-control {
border-color: var(--primary);
box-shadow: none;
}

.Select.is-open > .Select-control {
  background-color: black;
}

/* this colors the input box text and x  of multi dropdown*/
.Select--multi .Select-value {
color: white;
}

.nav-pills a{
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#9c9c9c;
  gap: 12px;
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0.4rem;
}

/* Change the color of links on mouse-over */
.nav-pills a:hover {
  background-color: #262626;
  color: #ddd;
}

/* Add a color to the active/current link */
.nav-pills .nav-link.active {
  background-color: var(--gray);
  color: var(--white);
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .icon-container {
  background-color: var(--green);
  color: white;
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .image-icons {
    filter: grayscale(0%);
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .moss-logo {
    filter: grayscale(0%);
}

._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: black;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}

#lastupdated_indictor{
  font-size: x-small;
  color: #9c9c9c;
  text-align: right;
}

#fallback_indicator{
  font-style: italic;
}

#klima_retire_note{
  font-style: italic;
  font-size: 0.7rem;
  padding: 0px;
}

.on_vs_off_footers{
  border: 0px;
  font-style: italic;
  font-size: 0.7rem;
  padding: 0px;
}

.sidebar {
  -webkit-font-smoothing: antialiased;
  position: fixed;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20rem;
  background-color: var(--dark-gray);
  gap: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  flex-direction: column;
  height: 100%;
  display: flex;
}

.sidebar-protocol-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--white);
}

.sidebar_mobile{
  display: none;
}

.toggler-row{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  margin-right: 10px;
}

.klima-logo{
  width: 180px;
}

.overlay-image{
  object-fit: cover;
  height: 400px; 
  border-radius: 25px;
  filter: brightness(75%);
}

br {
  line-height: 80%;
}

.overlay-image-card-texts{
  font-size: 20px;
  line-height: 20px;
}


.overlay-image-title{
  align-items: center;
  justify-content: center;
  font-style: normal;
  align-self: stretch;
  font-weight: 700;
  font-family: var(--font-fam-Poppins);
  font-size: 60px;
  line-height: 100%;
}

.overlay-image-subtitle{
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: var(--font-fam-Poppins);
  font-size: 24px;
  line-height: 32px;
}

.overlay-image-lastupdated{
  align-items: center;
  justify-content: center;
  font-weight:normal;
  font-size: 14px;
  line-height: 16px;
}

.overlay-image-card{
  display: flex;
  align-content: center;
  justify-content: center;
}

.card-img-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-card, .vcm-card, .summary-card, .upnext-card{
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--gray);
}

.vcm-card-header, .vcm-card-text, .summary-card-text, .summary-card-header, .upnext-card-text{
  justify-content: center;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: var(--gray);
  font-family: 'Inter';
  font-weight: 400;
}

.vcm-card-header{
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  line-height: 36px;
  font-family: var(--font-fam-Poppins);
}

.vcm-card-text{
  font-family: var(--font-fam);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-style: normal;
}

.summary-card-header{
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.summary-card-text, .upnext-card-text{
  font-size: 36px;
  line-height: 48px;
  font-family: var(--font-fam-Poppins);
  font-weight: 300;
  font-style: normal;
}

.upnext-card-text{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}


.offvson_fig {
  max-width: 80%;
}

.retirements_chart {
  width: 500px;
  height: 500px;
}

.img_fig{
  max-width: 60%;
}

.img_card_body{
  /* width: 80vw;
  height: 80vh;
  background: yellow;
  display: flex; */
  justify-content: center;
  align-items: center;
}

.img_card_body .col{
  text-align: center;
}

.offvson_fig_card .col{
  text-align: right;
}


.offvson_fig_card{
  align-items: center;
  justify-content: center;
}

.dashboard-title {
  margin-bottom: 0rem;
}

.icon-container{
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  height: 38px;
  width: 38px;
  display: flex;
  border-radius: 0.4rem;
  background-color: #262626;;
}

.collapse offcanvas offcanvas-start show{
  display: visible;
}

.material-icons {
  font-size: 20px;
  color: white;
}

.image-icons{
  filter: grayscale(100%);
  width: 20px;
  height: 20px;
}

.moss-logo{
  filter: grayscale(100%);
  width: 23px;
  height: 23px;
}

.icon-title{
  width: 90%;
}

#logo_title {
  display: block;
}

.klima-logo{
  width: 250px;
}

#toggle {
  display: none;
}

#sidebar_header {
  display: block;
}

#collapse {
  display: none;
}

#static-content {
  margin-left: 21rem;
  margin-right: 1rem;
}

/* dropdown menu options */
.VirtualizedSelectOption {
background-color: black;
color: white;
font-size: 12px;
}
.Select-value-label {
  color: white !important;
  background-color: black !important;
  font-size: 12px;
}

#static-content {
  padding: 2rem 0rem;
}

p {
  padding: 0.4rem;
  margin-bottom: 0rem;
  text-align: center;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]) {
  margin-left: 12px;
  color: white!important;
  text-align: left;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th.dash-filter ::placeholder{
  color: #3c3c3c!important;
}

.klimadao-btn, .klimadao-btn:focus, .klimadao-btn:hover, .klimadao-btn:active, .klimadao-btn:visited, .klimadao-app-btn, .klimadao-app-btn:hover,
.klimadao-app-btn:active, .klimadao-app-btn:visited, .klimadao-app-btn:focus{
  background: var(--dark-gray);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px 10px 20px;
  gap: 10px;
  border-color: var(--dark-gray);
  height: 3rem;
  /* width: 12rem */
}

.klimadao-app-btn, .klimadao-app-btn:hover,
.klimadao-app-btn:active, .klimadao-app-btn:visited, .klimadao-app-btn:focus{
  background-color: var(--green);
  border-color: var(--green);
}

.klimadao-app-btn:hover {
  background-color: var(--green);
  opacity: 0.7;
}

.klimadao-btn:hover {
  background-color: var(--dark-gray);
  opacity: 0.7;
}


.klimadao-app-icon-container, .upnext-icon-container{
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  border-radius: 0.6rem;
  background-color: var(--green);
}

.top-btns{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.upnext-icon-container{
  background-color: #303030;
}

#download_btn_retirements, #download_btn_holders, #download_btn_carbonmarket, .dropdown .btn, .dropdown .btn:hover, .dropdown .btn:visited, .dropdown .btn:focus, .dropdown .btn:active{
  background-color: #2b2b2b;
  border-radius: 64px;
  border-color: var(--gray);
  width: 2.5rem;
  height: 2.5rem;
  border-style:solid;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  
}

.dropdown .btn, .dropdown .btn:hover, .dropdown .btn:visited, .dropdown .btn:focus, .dropdown .btn:active, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle, .show>.btn-primary.dropdown-toggle:focus{
  background-color: #2b2b2b;
  box-shadow: none !important;
  border: none;
  padding-bottom: 4px;
  padding-right: 2px;
}

.dropdown .btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  width: 20px;
  height: 20px;
	content: "\f1e0";
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
}

.dropdown .btn::after {
  display: none;
}

.dropdown-item{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  font-family: var(--font-fam);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #313131 !important;
  padding: 8px 16px 8px 16px;
}

.dropdown-item:hover {
  background-color: #e2e5ec !important;
}

.dropdown-menu-dark{
  background: #FFFFFF;
/* /ring-1/ring-black ring-opacity-5 shadow-lg */

box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}


.dropdown-item a {
  display: flex;
}

.dropdown-divider{
  background-color: #F3F4F6;
  height: 1px;
  
}

.fa-twitter, .fa-facebook, .fa-linkedin, .fa-copy{
  align-items: center;
  justify-content: center;
  display: flex;
}

.fa-twitter::before , .fa-facebook::before, .fa-linkedin::before, .fa-copy::before{
  /* font-family: "Font Awesome 5 Brands"; */
  font-weight: 600;
  width: 20px;
  height: 20px;
	/* content: "\f099"; */
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  /* filter: grayscale(100%); */
  color: #A1A1A1;
  
}

.fa-twitter::after , .fa-facebook::after, .fa-linkedin::after, .fa-copy::after{
  display: none;
}

.fa-copy::before{
  font-weight: 100 !important;
}
/* .fa-facebook::before{
  content :"\f09a"
} */

.download_btn_div{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
}

.img_card_footer{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/* // safari and chrome */
*::-webkit-scrollbar {
    width: 0.6rem;
  }
*::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    outline: 1px solid var(--dark-gray);
    border-radius: 0.2rem;
    width: 0.6rem;
  }

  @media (max-width: 56em) {
    .overlay-image{
      height: 500px; 
    }

  }

@media (max-width: 48em) {

  #static-content {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .sidebar{
    display: none;
  }

  .sidebar_mobile{
    display: block;
  }
  
  .offcanvas-body {
    position: relative;
    display: flex;
    gap: 1.6rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    flex-direction: column;
    height: 100%;
    padding: 1rem 2rem;
  }

  .offcanvas {
    background-color: var(--dark-gray);
    font-size: 1.4rem;
    color: white;
    width: 72%;
  }

  #collapse{
    display: block;
  }
  
  .nav-pills a{
    font-size: 14px;
  }

  .navbar-toggler{
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    border-radius: 0.6rem;
    background-color: var(--dark-gray);
  }


  #toggle {
    display: flex;
  }

  .klima-logo{
    width: 180px;
  }
    
  .offcanvas-header {
    display: none;
  }
  
  .logo_title {
    display: block;
  }
  
  .overlay-image{
    height: 600px; 
  }


  .klimadao-btn, .klimadao-app-btn{
    display: none;
  }

  .klimadao-btn-sidebar, .klimadao-btn-sidebar:focus,.klimadao-btn-sidebar:hover,.klimadao-btn-sidebar:active,.klimadao-btn-sidebar:visited, .klimadao-app-btn-sidebar, .klimadao-app-btn-sidebar:hover,
  .klimadao-app-btn-sidebar, .klimadao-app-btn-sidebar:visited, .klimadao-app-btn-sidebar:focus{
    background: var(--gray);
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    border-color: var(--gray);
    height: 3rem;
    width: 100%
  }
  
  .klimadao-app-btn-sidebar, .klimadao-app-btn-sidebar:hover,
  .klimadao-app-btn-sidebar:active, .klimadao-app-btn-sidebar:visited, .klimadao-app-btn-sidebar:focus{
    background-color: var(--green);
    border-color: var(--green);
    padding-right: 0px;
    margin-bottom: 30px;
  }
  
  .klimadao-app-btn-sidebar:hover {
    background-color: var(--green);
    opacity: 0.7;
  }
  
.klimadao-btn-sidebar:hover {
    background-color: var(--dark-gray);
    opacity: 0.7;
  }
  
  
  .klimadao-app-icon-container, .upnext-icon-container{
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    border-radius: 0.6rem;
    background-color: var(--green);
  }

  .upnext-icon-container{
    background-color: #303030;
  }

  .img_fig{
    max-width: 100%;
  }

  .offvson_fig {
    max-width: 100%;
  }

}