:root {
  --gray: #2a2a2a;
  --dark-gray: #202020;
  --white: #ffffff;
  --green: #00CC33;
  --blue: #536C9C;
  --font-fam: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

body {
    background: var(--gray);
    font-family: var(--font-fam);
}

h1 {
  color: var(--white);
}

h2 {
  color: var(--white);
}

h3 {
  color: var(--white);
}

h4 {
  color: var(--white);
  /* margin-top: 0.5rem; */
}

hr {
  background-color: var(--gray);
  width: 100%;
  height: 0.15rem;
  opacity: 100;
  margin: 0rem;
}

hr:not([size]) {
  height: 0.15rem;
}

a {
  color: var(--green);
  text-decoration: none;
}

.card-body{
  padding-bottom: 0px;
}

.card-header {
  border-bottom: 0px;
}

.card {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  border: 0px;
}

.card-pool-summary {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  height: 200px;
}

.card-title{
  font-size: 16px;
}

.card-text{
  font-size: 32px;
  text-align: center;
  justify-content: center;
}

.card-text.card-body{
  padding-right: 0px;
  padding-left: 0px;
}

.page-title {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}

.card-graph {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  height: 450px;
}

.column-header-name {
    font-family: var(--font-fam);
    font-weight: bold;
}

/* input box */
.Select-control {
  background-color: black;
  color: white;
}


/* changes the text color of input box */
.Select-value-label {
  color: white !important;
  background-color: black !important;
  font-size: 8px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  border: 1px solid grey;
  border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
  background-color: black;
  color: white;
  font-size: 8px;
}


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
  background-color: black;
  opacity: .7;
}


/* border on focus - default is blue
* shadow box around input box.  default is blue
*/
.is-focused:not(.is-open) > .Select-control {
border-color: var(--primary);
box-shadow: none;
}

.Select.is-open > .Select-control {
  background-color: black;
}

/* this colors the input box text and x  of multi dropdown*/
.Select--multi .Select-value {
color: white;
}

.nav-pills a{
  font-size: 14.5px;
  line-height: 1.5rem;
  font-weight: 500;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  color:#9c9c9c;
  gap: 1rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 100%;
}

.nav-pills .nav-link {
  border-radius: 0.4rem;
}

/* Change the color of links on mouse-over */
.nav-pills a:hover {
  background-color: #262626;
  color: #ddd;
}

/* Add a color to the active/current link */
.nav-pills .nav-link.active {
  background-color: var(--gray);
  color: var(--white);
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .icon-container {
  background-color: var(--green);
  color: white;
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .image-icons {
    filter: grayscale(0%);
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .moss-logo {
    filter: grayscale(0%);
}

._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: black;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}

#lastupdated_indictor{
  font-size: x-small;
  color: #9c9c9c;
  text-align: right;
}

#fallback_indicator{
  font-style: italic;
}

#klima_retire_note{
  font-style: italic;
  font-size: 0.7rem;
  padding: 0px;
}

.on_vs_off_footers{
  border: 0px;
  font-style: italic;
  font-size: 0.7rem;
  padding: 0px;
}

.sidebar {
  position: fixed;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20rem;
  background-color: var(--dark-gray);
  gap: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  flex-direction: column;
  height: 100%;
  display: flex;
}

.sidebar_mobile{
  display: none;
}

.toggler-row{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
  margin-right: 10px;
}

.klima-logo{
  width: 180px;
}

.dashboard-title {
  margin-bottom: 0rem;
}

.icon-container{
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  height: 38px;
  width: 38px;
  display: flex;
  border-radius: 0.4rem;
  background-color: #262626;;
}

.collapse offcanvas offcanvas-start show{
  display: visible;
}

.material-icons {
  font-size: 20px;
  color: white;
}

.image-icons{
  filter: grayscale(100%);
  width: 20px;
  height: 20px;
}

.moss-logo{
  filter: grayscale(100%);
  width: 23px;
  height: 23px;
}

.icon-title{
  width: 70%;
}

#logo_title {
  display: block;
}

.klima-logo{
  width: 250px;
}

#toggle {
  display: none;
}

#sidebar_header {
  display: block;
}

#collapse {
  display: none;
}

#static-content {
  margin-left: 21rem;
  margin-right: 1rem;
}

/* dropdown menu options */
.VirtualizedSelectOption {
background-color: black;
color: white;
font-size: 12px;
}
.Select-value-label {
  color: white !important;
  background-color: black !important;
  font-size: 12px;
}

#static-content {
  padding: 2rem 0rem;
}

p {
  padding: 0.4rem;
  margin-bottom: 0rem;
  text-align: center;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]) {
  margin-left: 12px;
  color: white!important;
  text-align: left;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th.dash-filter ::placeholder{
  color: #3c3c3c!important;
}

@media (max-width: 48em) {

  #static-content {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .sidebar{
    display: none;
  }

  .sidebar_mobile{
    display: block;
  }
  
  .offcanvas-body {
    position: relative;
    display: flex;
    gap: 1.6rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    flex-direction: column;
    height: 100%;
    padding: 1rem 2rem;
  }

  .offcanvas {
    background-color: var(--dark-gray);
    font-size: 1.4rem;
    color: white;
    width: 72%;
  }

  #collapse{
    display: block;
  }
  
  .nav-pills a{
    font-size: 12px;
  }

  .navbar-toggler{
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    border-radius: 0.6rem;
    background-color: var(--dark-gray);
  }

  #toggle {
    display: flex;
  }

  .klima-logo{
    width: 180px;
  }
    
  .offcanvas-header {
    display: none;
  }
  
  .logo_title {
    display: block;
  }
  
 
}