:root {
  --gray: #2a2a2a;
  --dark-gray: #202020;
  --white: #ffffff;
  --green: #00CC33;
  --blue: #536C9C;
  --font-fam: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

body {
    background: var(--gray);
    font-family: var(--font-fam);
}

h1 {
  color: var(--white);
}

h2 {
  color: var(--white);
}

h3 {
  color: var(--white);
}

h4 {
  color: var(--white);
  margin-top: 0.5rem;
}

hr {
  background-color: var(--gray);
  width: 100%;
  height: 0.15rem;
  opacity: 100;
}

hr:not([size]) {
  height: 0.15rem;
}

a {
  color: var(--green);
}

.card {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
}

.card-title{
  font-size: 18px;
}

.card-text{
  font-size: 32px;
  text-align: center;
  justify-content: center;
}


.page-title {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}

.card-graph {
  background: var(--dark-gray);
  /* border: 2px solid #00CC33; */
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--white);
  padding: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  height: 400px;
}

.column-header-name {
    font-family: var(--font-fam);
    font-weight: bold;
}

/* input box */
.Select-control {
  background-color: black;
  color: white;
}


/* changes the text color of input box */
.Select-value-label {
  color: white !important;
  background-color: black !important;
  font-size: 8px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  border: 1px solid grey;
  border-radius: 4px;
}


/* dropdown menu options */
.VirtualizedSelectOption {
  background-color: black;
  color: white;
  font-size: 8px;
}


/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
  background-color: black;
  opacity: .7;
}


/* border on focus - default is blue
* shadow box around input box.  default is blue
*/
.is-focused:not(.is-open) > .Select-control {
border-color: var(--primary);
box-shadow: none;
}


/* this colors the input box text and x  of multi dropdown*/
.Select--multi .Select-value {
color: white;
}

.nav-pills a{
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 500;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  color:#9c9c9c;
  gap: 1.6rem;
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 100%;
}


/* Change the color of links on mouse-over */
.nav-pills a:hover {
  background-color: #262626;
  color: #ddd;
}

/* Add a color to the active/current link */
.nav-pills .nav-link.active {
  background-color: var(--gray);
  color: var(--white);
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .icon-container {
  background-color: var(--green);
  color: white;
}

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .icon-container-2lines {
  background-color: var(--green);
  color: white;
  }

  /* Change the color of links on mouse-over */
  .nav-pills .nav-link.active .image-icons {
    filter: grayscale(0%);
  }

.material-icons {
  font-size: 2rem;
  color: white;
}

.image-icons{
  filter: grayscale(100%);
  width: 2rem;
  height: 2rem;
}

.icon-title{
  width: 75%;
}

.icon-container{
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  border-radius: 0.6rem;
  background-color: #262626;;
}

.icon-container-2lines{
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  border-radius: 0.6rem;
  background-color: #262626;;
}

#sidebar {
  text-align: center;
  padding: 1rem 2rem;
  background-color: var(--dark-gray);
  font-size: 20;
  color: white;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

.logo_title {
  display: block;
}

.dashboard-title {
  margin-bottom: 1rem;
}

#sidebar_header {
  display: none;
}

/* #collapse *:first-child {
  margin-top: 0rem;
} */

#static-content {
  padding: 2rem 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(192, 192, 192, 0.3)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: black;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}

#lastupdated_indictor{
  font-style: italic;
  font-size: x-small;
  color: white;
  text-align: right;
}

#fallback_indicator{
  font-style: italic;
}

@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 21rem;
    background-color: var(--dark-gray);
    gap: 1.6rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    flex-direction: column;
    height: 100%;
  }

  #logo_title {
    display: block;
  }

  #toggle {
    display: none;
  }

  #sidebar_header {
    display: block;
  }
  #collapse {
    display: block !important;
    overflow: visible !important;
  }

  #static-content {
    margin-left: 22rem;
    margin-right: 1rem;
  }

  /* dropdown menu options */
  .VirtualizedSelectOption {
  background-color: black;
  color: white;
  font-size: 12px;
  }
  .Select-value-label {
    color: white !important;
    background-color: black !important;
    font-size: 12px;
  }
 
}
