body {
    background: #a0a0a0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
}

h2 {
    color: #0c3
}

.card {
  background: #FFF;
  border: 2px solid #00CC33;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 10px 10px 10px;
}

.page-title {
  margin: 5px 5px 5px 5px;
  padding-top: 20px;
  vertical-align: middle;
}
